
    <div id="main">
    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt = "about image">
              </div>
            </div>

            <h2>Easy-Blog</h2>
            <h3>Web-Developer,Python,C,
                Flutter and Blender Tutorials</h3>
          </div>

          <ul class = "icons">
            <li><i class = "fab fa-twitter"></i></li>
            <li><i class = "fab fa-linkedin"></i></li>
            <li><i class = "fab fa-instagram"></i></li>
          </ul>
        </div>
        
      </div>

      <div class = "about-right">
        <h1>Hello<span>!</span></h1>
        <h2>I am Imtiyaz-Ali.</h2>
        <div class = "about-btns">
          <button type = "button" class = "btn btn-pink">resume / CV</button>
          <button type = "button" class = "btn btn-white">Git hub</button>
        </div>

        <div class = "about-para">
          <p>I am Currently a Computer-Science student.I hav interest in Web-Development,Programming Language and 3D modelling.The main purpose for this website is to solve the problem i faced while learning</p>
          <p>I consist of tutorial,problem solving and designing. If you find this website helpful,you can send "BAT" token to us, We r verified ad brave creator.</p>
        </div>
        <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="">Imtiyaz-Ali</a></div>
      </div>
    </div>
</div>