<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#">Navbar</a>
  <button class="navbar-toggler" (click)="mobilenav()" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/home" ><i class="fas fa-house"></i>Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact" ><i class="far fa-address-book"></i>Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/about" href="javascript:void(0);"><i class="far fa-address-card"></i>About-Us</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
          </li> -->
      </ul>
  </div>
</nav>

<!-- navbar -->

<!-- body -->
<router-outlet></router-outlet>

<!-- footer -->

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

          
          <!-- Google -->
          <a  href="#!" role="button"
          ><i class="fa-brands fa-google fa-xl fa-bounce fa-swap-opacity"></i
        ></a>
            
            <!-- youtube -->
            <a  href="#!" role="button"
            ><i class="fa-brands fa-youtube fa-xl fa-bounce fa-swap-opacity"></i
          ></a>
        <!-- Instagram -->
        <a  href="#!" role="button"
          ><i class="fa-brands fa-instagram fa-xl fa-bounce fa-swap-opacity"></i
        ></a>
        
  
        <!-- Github -->
        <a  href="#!" role="button"
          ><i class="fa-brands fa-github fa-xl fa-bounce fa-swap-opacity"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
 
  <!-- End of .container -->

