<!-- <div class="mainCarddiv">
	<div class="mainCard" *ngFor="let i of array">

		<div class="card hover">
			<div class="card-img" style="background-image:url({{i.img}});">
				<div class="overlay">
					<div class="overlay-content">
						<a class="hover" href="#!">Visit<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			
			<div class="card-content">
				<a href="#!">
					<h2 class="title">{{i.name}}</h2>
					<p class="desc">{{i.desc}}</p>
				</a>
			</div>
		</div>
	</div>
</div> -->
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                    <h3>Blender</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Blender is a free and open-source 3D computer graphics software tool set used for creating animated films, visual effects, art, 3D-printed models, motion graphics...</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                    <h3>Code</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Computer programming, the process of creating and maintaining the source code of computer programs....</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Launch</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Coming Soon</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</body>